@import 'variables';

.app-btn {
    line-height: 1.5;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid $primary-border-color;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 14px;
    border-radius: 4px;
    height: 32px;
    user-select: none;
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    box-shadow: 0 2px 0 rgba(0,0,0,.015);
    color: rgba(0,0,0,.65);
    background-color: #fff;
    &:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }
    &:active, &:focus {
        outline: 0;
        transition: none;
        box-shadow: none;
    }
    &.btn-primary {
        color: $white;
        background-color: $primary-green;
        border-color: $primary-green;
    }
}
