@import "variables";

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #edf2f6;

    &.opened-popup {
        overflow: hidden;
    }
}

* {
    box-sizing: border-box;
}

.text-danger {
    color: $danger-color;
    margin: 0;
}

a {
    color: #1890ff;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
    &:hover {
        color: #096dd9;
    }
}
